NEXT_PUBLIC_BASE_URL=http://localhost:3000

# Supabase 기본 설정 (필수)
NEXT_PUBLIC_SUPABASE_URL=https://piulovyzbvlmqdzninbp.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBpdWxvdnl6YnZsbXFkem5pbmJwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0ODIxMjMzNiwiZXhwIjoyMDYzNzg4MzM2fQ.H6JIElxsQ0d4o7XL_RVNCddLANKNgDyn7ykSPWvNzC8

# login
JWT_SECRET=2070c0183f14ea9d5892cf71e00d858d17d9

# Open AI(템플릿 생성)
OPENAI_API_KEY=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

# LG CNS CNSPay 결제 설정
NEXT_PUBLIC_CNSPAY_API_URL=https://pg.cnspay.co.kr
CNSPAY_MID=mtscoco00m
CNSPAY_MERCHANT_KEY=uWvUW+/6EX1UyzocjIhZmRxbFbA+DE5KMll9ybdYMN3J+NqeNpqAIiEVzLS843aPTSLu9Lb8PgTmM/ZY8PqUgw==
CNSPAY_ENC_KEY=/9OQqX/JBv7xAQoS
CNSPAY_HASH_KEY=qYlJkj6G2VYQesMa

# Nice Payments (레거시 - 사용 안함)
# NICEPAY_CLIENT_ID=R2_fc94b724a6f84bccad38e00a6fd4518d
# NICEPAY_SECRET_KEY=432d5ed59c8b426c91afc3e7a7c6a2ff
# NICEPAY_API_URL=https://api.nicepay.co.kr
# NICEPAY_JS_SDK_URL=https://pay.nicepay.co.kr/v1/js/

# KMC 본인확인서비스
KMC_CP_ID=MMST1001
KMC_URL_CODE=015001
# 운영용 URL_CODE: 014002
KMC_SECU_KEY=4261358467855134
KMC_SEED_IV=3AD8D3E22F132AC7
KMC_AUTH_URL=https://www.kmcert.com/kmcis/web/kmcisReq.jsp
KMC_TOKEN_API_URL=https://www.kmcert.com/kmcis/api/kmcisToken_api.jsp


# 개발 환경 플래그
NODE_ENV=development

# 카카오 로그인
KAKAO_APP_KEY=4498422bd759e0908bea47603614c323
# KAKAO_APP_KEY=033b523430b7e418ea2b7a737851587f

# 네이버 로그인
NAVER_CLIENT_ID=Kc_sgeWlNHq5U1AAIpez
NAVER_CLIENT_SECRET=37UXtQMRr7
# NAVER_CLIENT_ID=wsvDOhjO2EKeVD3bMHFI
# NAVER_CLIENT_SECRET=YrpMYweTlU

# 구글 로그인
GOOGLE_CLIENT_ID=546995931986-bg8rfahlefav5j2g8s0b40gk241srk87.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

REDIRECT_URI=http://localhost:3000

# Gmail SMTP 설정 (이메일 전송용)
GMAIL_USER=mtscoaima@gmail.com
GMAIL_APP_PASSWORD=xlbrpfaobpfbyvjq

# 사업자등록정보확인 인증키
# ODCLOUD_SERVICE_KEY=m1vOBINXUGq9C93bx684dUt2fqq276PTYm0fZE1EA9prGfXVLWVcmkKskbhTDksXo/MxZVuQt6G6xrE/zaBPvA==
ODCLOUD_SERVICE_KEY=32055539b8fd99aafe776cf11f56bff28e54faad583ed09172c19b739a8a9fa6

# MTS API 설정 (메시지 전송 - Naver SENS 대체)
MTS_AUTH_CODE=7z12bG8oKXrMnHZcJBtycw==
MTS_API_URL=https://api.mtsco.co.kr
MTS_TEMPLATE_API_URL=https://talks.mtsco.co.kr
TEST_CALLING_NUMBER = 07088241139